p {
  margin: 0;
  font-size: 14px;
  width: 25%;
  text-align: center;
  color: white;
}
.recharts-text {
  fill: white;
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: rgb(37, 36, 85);
}
#body {
  margin-left: 50px;
  margin-top: 30px;
  width: 90vw;
  height: 90vh;
  display: flex;
  background-color: rgb(17, 16, 66);
}
#left {
  width: 500px;
  height: 100%;
  outline: solid;
  display: flex;
  flex-direction: column;
}
#runList {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#leftTitle,
#allRuns,
.runItem {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  outline: solid 1px grey;
  padding-inline: 7px;
  vertical-align: middle;
  display: flex;
}
#right {
  width: calc(100% - 500px);
  height: 100%;
  outline: solid;
}
.recharts-tooltip-wrapper {
  width: "fit-content";
  display: "flex";
  flex-direction: "column";
  align-content: "center";
}
.recharts-tooltip-wrapper > p {
  width: 100%;
}