.recharts-text {
  fill: white;
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: rgb(25, 25, 40);
}
#body {
  margin-left: 50px;
  margin-top: 30px;
  width: 90vw;
  height: 90vh;
  display: flex;
}
#left {
  background-color: rgb(50, 50, 70);
  margin-right: 5px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
#runList {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#leftTitle {
  background-color: rgb(65, 65, 85);
}
#leftTitle,
#allRuns,
.runItem {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  padding-inline: 7px;
  vertical-align: middle;
  display: flex;
}
#leftTitle > p,
.runItem > p {
  margin: 0;
  font-size: 14px;
  width: 25%;
  text-align: center;
  color: white;
}
#right {
  height: 800px;
  width: calc(100% - 500px);
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.graphHolder {
  background-color: rgb(50, 50, 70);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.graphTitle {
  margin: 0;
  padding: 5px;
  padding-bottom: 0;
  font-weight: bold;

}
.recharts-tooltip-wrapper {
  width: "fit-content";
  display: "flex";
  flex-direction: "column";
  align-content: "center";
}
.recharts-tooltip-wrapper > p {
  width: 100%;
  margin: 0;
  text-align: center;
}
