.recharts-text {
  fill: white;
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: rgb(25, 25, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}
#body {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
}
#runList {
  background-color: rgb(50, 50, 70);
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}
#runStats {
  background-color: rgb(50, 50, 70);
  grid-row: 4 / 7;
  grid-column: 1 / 2;
}
#durationGraph {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}
#distanceGraph {
  grid-row: 4 / 7;
  grid-column: 2 / 3;
}
#runListItems {
  display: flex;
  flex-direction: column;
}
#listTitle {
  background-color: rgb(65, 65, 85);
  font-weight: bold;
}
#listTitle,
#allRuns,
.runItem {
  display: flex;
  line-height: 35px;
}
#listTitle > p,
.runItem > p {
  margin: 0;
  font-size: 14px;
  width: 25%;
  text-align: center;
  color: white;
}
.graphHolder {
  background-color: rgb(50, 50, 70);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.graphTop {
  display: flex;
  justify-content: space-between;
}
.graphDateHolder {
  display: flex;
}
.graphDateHolder > p {
  margin: 0;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: -5px;
}
.graphTitle {
  text-indent: 5px;
  margin: 0;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: -5px;
  font-weight: bold;
}
.recharts-tooltip-wrapper {
  width: "fit-content";
  display: "flex";
  flex-direction: "column";
  align-content: "center";
}
.recharts-tooltip-wrapper > p {
  width: 100%;
  margin: 0;
  text-align: center;
}
